:root {
  --reader-mode-font-family: inherit;
  --reader-mode-text-color: var(--primary);
  --reader-mode-bg-color: var(--secondary);
  --reader-mode-font-size: inherit;
  --reader-mode-h1-font-size: var(--font-up-3-rem);
  --reader-mode-h2-font-size: var(--font-up-2-rem);
  --reader-mode-h3-font-size: var(--font-up-1-rem);
  --reader-mode-h4-font-size: var(--font-0-rem);
  --reader-mode-h5-font-size: var(--font-down-1-rem);
  --reader-mode-h6-font-size: var(--font-down-2-rem);
  --reader-mode-small-font-size: 0.75rem;
  --reader-mode-big-font-size: 1.5rem;
  --reader-mode-offset: 0;
  --reader-mode-topic-grid: inherit;
  --reader-mode-topic-body-width: calc(
    var(--topic-body-width) + var(--topic-body-width-padding) * 2
  );
}

.timeline-controls {
  display: flex;
  .reader-mode-toggle {
    margin-right: 0.5em;
  }

  button.widget-button.btn.btn-default.popup-menu-button.toggle-admin-menu.no-text.btn-icon {
    height: 100%;
  }
}

#reply-control.open,
.extra-info-wrapper,
.video-placeholder-container {
  transition: filter 0.3s;
}

.post-notice,
.time-gap.small-action {
  transition: height 0.3s, opacity 0.3s;
}

.topic-map {
  transition: height 0.3s, opacity 0.5s;
}

#post_1 .topic-body,
#post_1 .topic-avatar {
  border-top: 1px solid transparent;
}

.time-gap + .topic-post .topic-body,
.time-gap + .topic-post .topic-avatar {
  border-top: 1px solid transparent;
}

.header-sidebar-toggle,
.home-logo-wrapper-outlet,
.d-header-icons,
.timeline-controls .btn:not(.reader-mode-toggle),
.timeline-scrollarea-wrapper,
.timeline-footer-controls {
  transition: opacity 0.3s;
}

.reader-mode {
  .d-header {
    background-color: var(--reader-mode-bg-color);
  }
  .extra-info-wrapper .topic-link,
  #topic-title h1 a {
    color: var(--reader-mode-text-color);
  }
  .container.posts {
    grid-template-columns: var(--reader-mode-topic-grid) !important;
  }
  .topic-area#topic::before {
    content: "";
    display: block;
    width: 100vw;
    height: 100vh;
    position: fixed;
    background: var(--reader-mode-bg-color);
    opacity: 0.95;
    left: 0;
    top: 0;
    z-index: 100;
    transition: opacity 0.3s;
  }

  &.reader-mode-transitioning .topic-area#topic::before {
    opacity: 0;
  }

  .discourse-reactions-counter {
    opacity: 0;
    transition: opacity 0.3s;
  }

  .extra-info-wrapper,
  .video-placeholder-container {
    filter: grayscale(1);
  }

  .header-title {
    font-family: var(--reader-mode-font-family) !important;
  }

  #topic-title {
    position: relative;
    z-index: 102;
    h1,
    h2,
    h3,
    h4,
    h5 {
      font-family: var(--reader-mode-font-family) !important;
    }
    font-family: var(--reader-mode-font-family) !important;
  }

  .posts-wrapper {
    z-index: 102;
  }

  .header-sidebar-toggle,
  .home-logo-wrapper-outlet,
  .d-header-icons {
    opacity: 0.05;
  }

  .discourse-reactions-reaction-button {
    filter: grayscale(1);
  }

  .post-notice,
  .time-gap.small-action {
    opacity: 0;
  }

  .topic-map {
    opacity: 0.5;
  }

  .container.posts .topic-navigation {
    z-index: 103;
  }

  .timeline-controls .btn:not(.reader-mode-toggle),
  .timeline-scrollarea-wrapper,
  .timeline-footer-controls {
    opacity: 0;
  }

  .reader-mode-toggle.active svg {
    color: var(--tertiary);
  }

  .topic-avatar img,
  .topic-avatar .avatar-flair {
    opacity: 0.125;
    transition: opacity 0.3s;
    filter: grayscale(1);
  }

  #post_1 .topic-body,
  #post_1 .topic-avatar {
    border-top: 1px solid transparent;
  }

  .time-gap + .topic-post .topic-body,
  .time-gap + .topic-post .topic-avatar {
    border-top: 1px solid var(--primary-low);
  }
  .reader-mode-icon {
    z-index: 9999;
  }
  .d-header-icons,
  .topic-admin-menu-button,
  .timeline-scrollarea-wrapper,
  .timeline-footer-controls,
  .topic-map {
    pointer-events: none;
  }
  .topic-admin-menu-button-container {
    display: none;
  }
  .reader-mode-options-trigger,
  .reader-mode-options__item-button {
    opacity: 1 !important;
    position: relative;
  }
  .reader-mode-options__item-button[disabled],
  .reader-mode-options__item-button:disabled {
    opacity: 0.25 !important;
  }
  .reader-mode-options__item-button.text-changes {
    flex-grow: 1;
    font-size: 20px;
    svg {
      color: var(--primary-medium);
    }
    &.decrease-font {
      align-items: end;
      svg {
        transform: scale(0.75) translateY(2px);
        // font-size: var(--font-down-1-rem);
      }
    }
    &.decrease-width {
      svg {
        transform: rotate(45deg);
      }
    }
  }
  .reader-mode-options__item-button.color-mode {
    svg {
      border-radius: 50%;
      border: 1px solid var(--primary-400);
      transition: border-color 0.125s;
    }
    &.active svg {
      border-color: var(--tertiary);
    }
    &:hover {
      svg {
        border-color: var(--tertiary);
      }
    }
    &.light-mode svg {
      color: #fafafa;
    }
    &.sepia-mode svg {
      color: #f5f1e4;
    }
    &.dark-mode svg {
      color: #202121;
    }
  }

  // Post Width Stuff
  .container.posts {
    position: relative;
    left: var(--reader-mode-offset) !important;
    .row {
      width: 100%;
      max-width: unset;
    }
  }

  .topic-body {
    width: var(--reader-mode-topic-body-width) !important;
  }

  // Font stuff
  .cooked {
    color: var(--reader-mode-text-color) !important;
    font-family: var(--reader-mode-font-family) !important;
    p,
    span,
    ul li,
    ol li,
    table {
      font-size: var(--reader-mode-font-size) !important;
      font-family: var(--reader-mode-font-family) !important;
    }
    h1 {
      font-size: var(--reader-mode-h1-font-size) !important;
      font-family: var(--reader-mode-font-family) !important;
    }
    h2 {
      font-size: var(--reader-mode-h2-font-size) !important;
      font-family: var(--reader-mode-font-family) !important;
    }
    h3 {
      font-size: var(--reader-mode-h3-font-size) !important;
      font-family: var(--reader-mode-font-family) !important;
    }
    h4 {
      font-size: var(--reader-mode-h4-font-size) !important;
      font-family: var(--reader-mode-font-family) !important;
    }
    h5 {
      font-size: var(--reader-mode-h5-font-size) !important;
      font-family: var(--reader-mode-font-family) !important;
    }
    h6 {
      font-size: var(--reader-mode-h6-font-size) !important;
      font-family: var(--reader-mode-font-family) !important;
    }
    small {
      font-size: var(--reader-mode-small-font-size) !important;
      font-family: var(--reader-mode-font-family) !important;
    }
    big {
      font-size: var(--reader-mode-big-font-size) !important;
      font-family: var(--reader-mode-font-family) !important;
    }
  }
}

.reader-mode-options-content .fk-d-menu__inner-content {
  border-radius: 2px;
}

.reader-mode-options {
  --base-font-size: var(--base-font-size) !important;
  &__body {
    padding: 1em;
  }
  &__section {
    margin-bottom: 0.5em;
    border-bottom: 1px solid var(--primary-low);
  }
  &__section:last-child {
    border-bottom: none;
    margin-bottom: 0;
  }
  &__section-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em 0;
    gap: 0.5em;
  }
  &__section-item label,
  &__section-item select {
    margin: 0;
    font-weight: normal;
  }
  &__section-item select {
    padding: 0.5em;
    width: 100%;
  }
}
