.timeline-controls {
  display: flex;
  .reader-mode-toggle {
    margin-right: 0.5em;
  }

  button.widget-button.btn.btn-default.popup-menu-button.toggle-admin-menu.no-text.btn-icon {
    height: 100%;
  }
}

#reply-control.open,
.extra-info-wrapper,
.video-placeholder-container {
  transition: filter 0.3s;
}

.post-notice,
.time-gap.small-action {
  transition: height 0.3s, opacity 0.3s;
}

.topic-map {
  transition: height 0.3s, opacity 0.5s;
}

#post_1 .topic-body,
#post_1 .topic-avatar {
  border-top: 1px solid transparent;
}

.time-gap + .topic-post .topic-body,
.time-gap + .topic-post .topic-avatar {
  border-top: 1px solid transparent;
}

.header-sidebar-toggle,
.home-logo-wrapper-outlet,
.d-header-icons,
.timeline-controls .btn:not(.reader-mode-toggle),
.timeline-scrollarea-wrapper,
.timeline-footer-controls {
  transition: opacity 0.3s;
}

.reader-mode {
  .topic-area#topic::before {
    content: "";
    display: block;
    width: 100vw;
    height: 100vh;
    position: fixed;
    background: var(--secondary);
    opacity: 0.95;
    left: 0;
    top: 0;
    z-index: 100;
    transition: opacity 0.3s;
  }

  &.reader-mode-transitioning .topic-area#topic::before {
    opacity: 0;
  }

  #reply-control.open,
  .extra-info-wrapper,
  .video-placeholder-container {
    filter: grayscale(1);
  }

  #topic-title {
    position: relative;
    z-index: 102;
  }

  .posts-wrapper {
    background-color: var(--secondary);
    z-index: 102;
  }

  .header-sidebar-toggle,
  .home-logo-wrapper-outlet,
  .d-header-icons {
    opacity: 0.05;
  }

  .posts-wrapper img {
    filter: grayscale(1);
  }

  .discourse-reactions-reaction-button {
    filter: grayscale(1);
  }

  .post-notice,
  .time-gap.small-action,
  .topic-map {
    opacity: 0;
  }

  .container.posts .topic-navigation {
    z-index: 102;
  }

  .timeline-controls .btn:not(.reader-mode-toggle),
  .timeline-scrollarea-wrapper,
  .timeline-footer-controls {
    opacity: 0;
  }

  .reader-mode-toggle.active svg {
    color: var(--tertiary);
  }

  #post_1 .topic-body,
  #post_1 .topic-avatar {
    border-top: 1px solid transparent;
  }

  .time-gap + .topic-post .topic-body,
  .time-gap + .topic-post .topic-avatar {
    border-top: 1px solid var(--primary-low);
  }
  .reader-mode-icon {
    z-index: 9999;
  }
}
